.footer-list {
    display: flex;
    /* justify-content: center;  */
    background-color: #2b2b2b;
    height: 70px;
    position: fixed;
    bottom: 0px;
    /* width: 100%;  */
    justify-content: space-between;
    margin-bottom: 0px; 
    align-items: center;
    list-style: none;
    right: 0px; 
    left: 0px;
    padding-right: 10%;
    padding-left: 10%; 
}

.footer-list-item {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.footer-list-git {
    width: 37px; 
    height: 37px;
    padding-top: 4px;
}

.footer-list-linked {
    width: 45px; 
    height: 45px;
}

.footer-list-item {
    color: white; 
    font-family: 'Merriweather Sans', sans-serif; 
    font-size: 17px;
    text-decoration: none;
}

.connect-icons {
    display: flex; 
    padding-right: 15px;
}