.nav-1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    position: fixed; 
    top: 0px; 
    left: 0px;
    padding-bottom: 7px;
    width: 100%;
    line-height: 1px;
    z-index: 1;
    box-shadow: 0 8px 8px -8px #d1cfcf;
}

.logo {
    font-family: 'Playfair Display', serif;
    padding-left: 25px;
    color: black; 
    font-size: 42px;
    text-decoration: none;
}

.nav-buttons {
    padding-top: 9px;
    padding-right: 25px; 
}

.nav-buttons, .nav-1-login, .nav-1-signup, .user-profile-icon {
    display: flex;
    border-radius: 4px;
    height: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    justify-content: center;
}

.nav-1-login:focus, .nav-1-signup:focus, 
.user-profile-icon:focus, .nav-1-write:focus, .nav-1-signout:focus {
    outline: none;
}

.nav-1-login {
    background-color: white; 
    margin: 5px; 
    width: 120px;
    border: none; 
}

.nav-1-signup {
    background-color: #3aab78;
    margin: 5px;
    width: 120px;
    color: white;
}

.user-profile-icon {
    position: relative;
    background-color: #3aab78;
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    display: flex; 
    color: white; 
    align-items: center;
    justify-content: center; 
    padding: 0px;
    margin-left: 15px; 
}

.user-menu {
    position: absolute;
    display: none; 
    min-width: 200px; 
    right: 25px; 
    top: 52px;
    list-style: none;
    border: .6px silver solid;
    background-color: white; 
    min-height: 300px;
    /* padding-top: 20px;  */
    padding-left: 0px; 
    box-shadow: 0px 0px 8px #c9c9c9;
}

.user-menu li:nth-child(6) {
    margin-top: 100px;
    border-bottom: none;
}

.nav-1-username {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.user-menu li, .user-menu Link {
    padding: 10px;
    padding-bottom: 20px;
    margin: 10px;
    font-size: 12px; 
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-decoration: none !important;
    border-bottom: .6px #f2f0f0 solid; 
}

.nav-1-profile:hover, .nav-1-write:hover, .nav-1-signout:hover {
    cursor: pointer; 
    text-decoration: underline;
    color: #2b2b2b;
}

.user-profile-icon:hover + .user-menu, .user-menu:hover {
    display: block;
}

button:hover {
    cursor: pointer;
}