.nav-1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    position: fixed; 
    top: 0px; 
    left: 0px;
    padding-bottom: 7px;
    width: 100%;
    line-height: 1px;
    z-index: 1;
    box-shadow: 0 8px 8px -8px #d1cfcf;
}

.logo {
    font-family: 'Playfair Display', serif;
    padding-left: 25px;
    color: black; 
    font-size: 42px;
    text-decoration: none;
}

.nav-buttons {
    padding-top: 9px;
    padding-right: 25px; 
}

.nav-buttons, .nav-1-login, .nav-1-signup, .user-profile-icon, .nav-1-write, .nav-1-signout {
    display: flex;
    border-radius: 4px;
    height: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    justify-content: center;
}

.nav-1-login:focus, .nav-1-signup:focus, 
.user-profile-icon:focus, .nav-1-write:focus, .nav-1-signout:focus {
    outline: none;
}

.nav-1-write {
    align-items: center; 
    justify-content: center;
    color: black; 
    text-decoration: none;
    margin-right: 0px;
}

.nav-1-login {
    background-color: white; 
    margin: 5px; 
    width: 120px;
    border: none; 
}

.nav-1-signup {
    background-color: #3aab78;
    margin: 5px;
    width: 120px;
    color: white;
}

.user-profile-icon {
    background-color: #3aab78;
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    display: flex; 
    color: white; 
    /* position: absolute;  */
    align-items: center;
    justify-content: center; 
    padding: 0px;
    margin-left: 15px; 
}

.nav-1-signout, .nav-1-write {
    background-color: white; 
    margin: 5px; 
    width: 100px;
    border: none; 
    /* margin-right: 10px; */
}


button:hover {
    cursor: pointer;
}