.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.97);
}

.invisible {
    z-index: 15; 
    width: 100%; 
    height: 100%;
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; 
  /* z-index: 5; */
}

.modal-session-form {
    box-shadow: 0px 0px 13px silver;
    width: 675px;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 500px;
    z-index: 20
}

.modal-form {
    text-align: center;
    position: relative;
}

.modal-close-button {
    display: flex;
    align-items: right;
    justify-content: right;
    right: 0px;
    position: absolute;
    border: none; 
    font-size: 20px;
    color: grey;
    background: transparent;
}

.modal-close-button:hover {
    color: #2b2b2b;
    background-color: none;
}

.modal-close-button:focus {
    outline: none;
}

.modal-header {
    font-family: 'Playfair Display', serif;
    font-size: 42px; 
    color: black; 
}

.modal-subheader {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    width: 40%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 15px;
    color: grey; 
}

.modal-label {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    color: grey; 
}

.modal-input {
    width: 175px; 
    height: 15px;
    padding: 5px;
    margin: 8px;
    border: none;
    border-bottom: grey solid 1px;
    font-size: 18px;
    color: grey;
}

.modal-input:focus {
    outline: none;
    border: none; 
    border-bottom: grey solid 3px;
}

.submit-buttons {
    display: flex; 
    justify-content: center;

}

.submit-button {
    background-color: #2b2b2b;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    padding: 15px; 
    border: none; 
    height: 40px; 
    width: 110px;
    line-height: 1px;
    border-radius: 4px; 
    margin: 0px 10px;
}

.demo-user {
    background-color: #2b2b2b;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    padding: 15px; 
    border: none; 
    height: 40px; 
    width: 110px;
    line-height: 1px;
    border-radius: 4px; 
}


.other-form-link {
    color: #3aab78; 
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    padding: 0px 15px; 
    border: none; 
    background-color: white; 
    border-radius: 4px;
}

.submit-button:focus, .other-form-link:focus {
    outline: none;
}

.modal-errors {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #e65b4e;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 11px;
    list-style: none;
    padding-left: 0px;
}

.modal-errors ul {
    padding-left: 0px;
}

.modal-errors li {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}