.modal-session-form {
    /* border: 1px grey solid; */
    box-shadow: 0px 0px 13px lightgray;
    width: 675px;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 4px;
    background-image: url("formbackground.png");
    background-size: contain;
}

.modal-form {
    text-align: center;
    position: relative;
}

.modal-close-button {
    display: flex;
    align-items: right;
    justify-content: right;
    right: 0px;
    position: absolute;
    border: none; 
    font-size: 20px;
    color: lightgrey;
    /* margin: none; */
}

.modal-close-button:hover {
    color: #2b2b2b;
}

.modal-close-button:focus {
    outline: none;
}

.modal-header {
    font-family: 'Playfair Display', serif;
    font-size: 42px; 
    color: black; 
}

.modal-subheader {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    width: 40%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 15px;
    color: grey; 
}

.modal-label {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    /* padding-bottom: 5px; */
    color: grey; 
    /* padding-top: 15px; */
}

.modal-input {
    width: 175px; 
    height: 15px;
    padding: 5px;
    margin: 8px;
    border: none;
    border-bottom: grey solid 1px;
}

.modal-input:focus {
    outline: none;
    border: none; 
    border-bottom: grey solid 3px;
}

/* .modal-input:focus {
  border: 3px solid #555;
} */

.submit-button {
    background-color: #2b2b2b;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    padding: 15px; 
    border: none; 
    height: 40px; 
    width: 100px;
    line-height: 1px;
    border-radius: 4px; 
}

.other-form-link {
    color: #3aab78; 
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px; 
    padding: 15px; 
    border: none; 
    background-color: white; 
    border-radius: 4px;
}