.responses-all {
    display: flex; 
    flex-direction: column;
    /* background-color: #f7f4f4; */
    border-top: double rgb(235, 233, 233);
    align-items: center;
    padding-bottom: 90px; 
    width: 100%; 
    height: auto;
    margin: 0px;
    min-height: 500px;
    font-family: 'Merriweather Sans', sans-serif;
    
}

.responses-header {
  display: flex; 
  flex-direction: row; 
  width: 65%;
}
.responses-header h5 {
  color: rgb(83, 83, 83);
  letter-spacing: 2px;
  margin: 15px;
  margin-bottom: 5px;
}

.response-form-container {
  width: 65%;
  display: flex; 
  flex-direction: column;
}

.responses-section {
  width: 65%;
}

.response-form {
  border: 1px solid grey; 
  box-shadow: 0px 0px 14px #b5b3b3;
  border-radius: 4px;
  margin: 15px; 
  padding: 25px;
}

.response-author {
  margin-bottom: 10px;
  color: #3aab78;
}

.response-textbox {
  border: none; 
  background: none; 
  margin: 0px; 
  padding: 0px;
  width: 100%; 
  height: 75px;
  font-size: 15px;
  font-family: 'Lora', serif;
  resize: none;
}

.response-textbox:focus {
  outline: none;
}

.response-publish {
  border: none;
  background: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  color: rgb(184, 182, 182);
  padding-left: 0px;
}

.response-publish:focus, .response-publish:hover {
  border: 1px solid #3aab78;
  border-radius: 2px;
  color: grey;
  padding-left: 5px;

}

.response-item-container {
  border: 1px solid grey; 
  box-shadow: 0px 0px 14px #b5b3b3;
  border-radius: 4px;
  margin: 15px; 
  margin-bottom: 25px;
  padding: 25px;
  position: relative;
}

.response-item {
 max-width: 100%;
}

.response-username {
  color: #3aab78;
  margin-bottom: 5px;
}

.response-date {
  font-size: 13px; 
  color: grey; 
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 0px;
}

.response-body {
  font-family: 'Lora', serif;
}

.response-delete-button {
  border: none;
  background: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  color: rgb(184, 182, 182);
  padding-left: 0px;
}

.response-delete-button:focus, .response-delete-button:hover {
  border: 1px solid rgb(214, 91, 91);
  border-radius: 2px;
  color: rgb(134, 103, 103);
  padding-left: 5px;

}