.splash {
    margin: 90px 30px 50px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-repeat: no-repeat; 
    background-position-x: left; 
    background-position-y: bottom;
    background-size: 30%
}

.image-section-1 {
    background-repeat: no-repeat; 
    background-position-x: right; 
    background-position-y: 40%;
    background-size: 30%;
}

.section-1 {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.section-2 {
    display: flex; 
    justify-content: space-between;
    margin-top: 50px; 
    align-items: center;
}

.section-3 {
    display: flex; 
    justify-content: left;
    margin-top: 70px;
}

.section-4 {
    display: flex; 
    justify-content: center;
    margin-top: 70px;
}

.splash-header-1 {
    font-family: 'Playfair Display', serif;
    font-size: 95px;
    margin: 0px;
    text-align: center;
    line-height: 1;
}

.splash-header-2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    color: #2b2b2b;
    margin: 20px;
    text-align: center;
}

.splash-header-3 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin: 0px;
}

.splash-header-3:first-child {
    text-align: right;
}

.splash-p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: #5e5d5d;
    margin: 0px;
    padding: 0px 40px;
    line-height: 2.2;
}

.splash-p-2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: #5e5d5d;
    margin: 0px;
    padding: 0px 40px;
    line-height: 2.2;
    margin-left: 220px;
}

.splash-p:first-child {
    padding-right: 30px;
}

.section-4 {
    display: flex; 
    flex-direction: column; 
}

.signup-button {
    background-color: #3aab78;
    height: 60px;
    width: 330px;
    color: white;
    /* display: flex; */
    border-radius: 4px;
    font-size: 25px;
    font-family: 'Merriweather Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

.login-button {
    height: 60px;
    width: 330px;
    /* display: flex; */
    border-radius: 4px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: white; 
    color: #3aab78;
    border: none; 
}


button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}