.splash {
    /* margin: 90px 0px 50px 0px;  */
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /* padding: 80px 0px; */
    /* background-repeat: no-repeat; 
    background-position-x: left; 
    background-position-y: bottom;
    background-size: 30% */
}

.image-section-1 {
    /* background-repeat: no-repeat; 
    background-position-x: right; 
    background-position-y: 40%;
    background-size: 30%; */
}

.section-1 {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 85px;
}

.splash-image-2 {
    float: left;
    size: 30%;
}

.section-2 {
    display: flex; 
    justify-content: space-between;
    margin-top: 10px; 
    align-items: center;
}

.splash-image-1 {
    width: 30%; 
}

.section-3 {
    display: flex; 
    justify-content: left;
    margin: 40px 0px;
    align-items: center;
}

.splash-image-2 {
    width: 20%; 
}

.section-4 {
    display: flex; 
    justify-content: center;
    margin-top: 70px;
}

.splash-header-1 {
    font-family: 'Playfair Display', serif;
    font-size: 95px;
    margin: 0px;
    text-align: center;
    line-height: 1;
}

.splash-header-2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    color: #2b2b2b;
    margin: 20px;
    text-align: center;
}

.splash-header-3 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin: 0px;
}

.splash-header-3:first-child {
    text-align: right;
}

.splash-p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: #5e5d5d;
    margin: 0px;
    padding-left: 30px;
    line-height: 2.2;
}

.splash-p-2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: #5e5d5d;
    margin: 0px;
    padding: 0px 40px;
    line-height: 2.2;
    margin-left: 0px;
}

.splash-p:first-child {
    padding-right: 30px;
}

.section-4 {
    display: flex; 
    flex-direction: column; 
    margin-top: 0px; 
    padding-top: 0px;
}

.signup-button {
    background-color: #3aab78;
    height: 60px;
    width: 330px;
    color: white;
    border-radius: 4px;
    font-size: 25px;
    font-family: 'Merriweather Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

.login-button {
    height: 60px;
    width: 330px;
    border-radius: 4px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: white; 
    color: #3aab78;
    border: none; 
}


button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.splash-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}

.bullet {
    width: 27px; 
    height: 27px; 
    margin: 3px; 

}

.splash-list-item {
    display: flex;
    text-align: center; 
    padding: 30px 25px 0px 25px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: #5e5d5d;
    line-height: 1; 
    align-items: center;
}