.index-section-1 {
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
}

.categories-list {
    margin: 0px 40px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px; 
    display: flex; 
    justify-content: space-between;
    padding: 80px 0px 0px 0px;
    background-color: white;
    color: grey;
}

.category-name:hover {
    color: black;
    cursor: pointer;
}

.index-page h3 {
    color: #2b2b2b; 
    font-size: 20px;
    margin-left: 40px;
}

.editor-picks-list {
    /* display: flex; 
    flex-wrap: nowrap;  */
    /* height: 375px;  */
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 45% 25% 30%;
}

.editor-pick-story:first-child {
    grid-row-start: 1; 
    grid-row-end: 3;
}

.editor-pick-story:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
}

.editor-pick-story {
    /* margin-right: 20px; */
    padding: 10px;
    border: 1px solid grey;
    position: relative;
}

.index-section-2 {
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0px; 
    margin: 0px, 40px;
    padding-bottom: 90px;
    /* position: relative; */
}

.feed-all {
    display: flex;
    flex-direction: column;
    align-items: left; 
    left: 15px; 
    width: 60%;  
    font-family: 'Merriweather Sans', sans-serif;
}

.feed-all h3, .popular h3 {
    color: #474747;
    font-size: 14px;
}

.feed {
    display: flex;
    justify-content: space-between;
}

.feed-list {
    padding: 0px; 
    margin-left: 40px;
    font-family: 'Merriweather Sans', sans-serif;
}

.feed-story {
    padding-bottom: 25px;
    margin-bottom: 35px;
    position: relative;
}

.popular-container {
    width: 35%;
    padding-bottom: 60px;   
}

.popular {
    display: flex; 
    flex-direction: column;
    position: sticky; 
    top: 70px;
    padding-left: 25px;
}

.popular h3 {
    margin-left: 12px;
}

.popular-list {
    list-style-type: decimal-leading-zero;
}

.popular-list::marker {
    color: blue;
}

.popular-story {
    padding-bottom: 25px;
    margin-bottom: 35px;
    position: relative;
}

.story-title {
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.story-author {
    font-size: 13px;
    color: #474747;
    margin: 5px 0px;
    position: absolute; 
    bottom: 0px;
}

.preview {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}
.story-preview {
    font-size: 14px;
    color: grey;
    font-weight: lighter;
    /* width: 300px; */
    min-width: 75%;
    /* min-width: 300px; */
}

.story-thumbnail img {
    width: 150px; 
    height: 75%; 
    border: 1px red solid;
}

.published-date {
    margin: 0; 
    color: #757575;
    font-size: 11px;
    font-weight: lighter;
}

