.story-form-page {
    position: relative;
    margin: 85px 0px;
}
.story-form {
    position: absolute;
    width: 60%;
    left: 20%;
    display: flex; 
    flex-direction: column;
}

.upload-button-inputs {
    display: grid; 
    grid-template-columns: 10% 90%;
}

.upload-button {
    grid-column-start: 1;
    grid-column-end: 1;
    /* padding-top: 100%; */
    /* position: relative; */
    display: block;
    z-index: 1;
}

.story-form-photo-label {
    display: none;
    position: absolute;
    float: right;
    margin-left: 10%;
    padding-bottom: 10px;
    top: 55px;
    background: white;   
    font-family: 'Playfair Display', serif;
    color: #919191;
    letter-spacing: 1.2px;
}

.upload-button:hover .story-form-photo-label {
    display: inline;
    
}

.upload-button img {
    width: 40px;
    position: absolute; 
    top: 50px;
}

.inputs {
    grid-column-start: 2; 
    grid-column-end: 2;
}

.form-title {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.story-form-input-title::placeholder, .story-form-input-body::placeholder {
    font-family: 'Playfair Display', serif;
    color: silver; 
    border: none;
}

.story-form-input-title, .story-form-input-body {
    font-family: 'Playfair Display', serif;
    color: #2b2b2b;
    border: none;
}

.story-form-input-title:focus, .story-form-input-body:focus {
    outline: none;
    border-left: 1px solid silver;
}

.story-form-input-title {
    font-size: 40px;
    letter-spacing: 1px
}

.story-form-input-body {
    font-size: 22px;
    width: 100%; 
    min-height: 380px;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

.story-form-buttons {
    display: flex;
    justify-content: center; 
    margin: 0 auto;
    margin-bottom: 150px;
    width: 75px; 
}

.story-form-publish, .story-form-cancel {
    width: 150px; 
    border: none; 
    padding: 10px 45px; 
    margin: 0; 
    font-size: 17px;
    border-radius: 4px; 
    font-family: 'Merriweather Sans', sans-serif;
}

.story-form-publish {
    background-color: #3aab78;  
    color: white; 
    margin-right: 10px;
}

.story-form-cancel {
    background-color: silver;
    color: black; 
    text-decoration: none; 
    margin-left: 10px;
}

.story-form-cancel button {
    background-color: none;
}

.no-link {
    color: black; 
    text-decoration: none; 
}

.story-form-errors {
    display: flex; 
    justify-content: center;
}

.story-errors-list {
    padding-left: 0px; 
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    justify-content: center; 
    bottom: 300px; 
    font-size: 13px; 
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: 0px 0px 8px #e0a558;
    width: auto; 
}

.story-error-div {
    display: flex;
    float: left;
    align-items: center;
    padding: 5px 20px;
}

.story-error {
    display: flex;
    height: 20px;
    font-family: 'Merriweather Sans', sans-serif ; 
    font-size: 13px; 
    /* margin-left: 10px; */
    padding: 10px; 
    display: flex; 
    justify-content: center;
}

/* .story-errors-list:not(:focus) {
    display: none;
}

.story-error:not(:focus) {
    display: block;
} */