.user-profile {
    padding: 70px 60px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.profile-username {
    font-size: 38px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2b2b2b;
    padding: 7px; 
    margin: 0px;
}

.profile-user-details {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px; 
    color: #757575;
    padding: 5px 0px;
}

.user-stories-list {
    padding-left: 0px; 
}

.user-profile-story {
    border: 1px solid grey; 
    box-shadow: 0px 0px 14px #b5b3b3;
    border-radius: 4px;
    padding: 25px;
    margin: 25px 0px;
}

.user-stories-list {
    min-width: 100%;
}

.profile-story-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px; 
    color: #2b2b2b; 
    font-weight: bolder;
}

.profile-story-body {
    font-family: 'Lora', serif;
    font-size: 16px; 
    font-weight: lighter;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #2b2b2b;
}

.profile-story-buttons {
    display: flex; 
    justify-content: center; 
}

.profile-story-buttons button {
    margin: 10px;
    width: 140px; 
    border: none; 
    padding: 10px; 
    font-size: 15px;
    border-radius: 4px; 
    font-family: 'Merriweather Sans', sans-serif;
    color: white; 
    background-color: #3aab78;
}

a {
    color: white;
}